*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.background-logo {
background-image: url('../images/placeimg_1000_480_nature.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 480px;
width: 100%;
position: relative;
}
.background-logo::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65,105,255, .7);
  z-index: 0;
}
.background-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background-text h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 1;
}
.background-text p {
  font-size: 3rem;
  width: 550px;
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
  line-height: 3.3rem;
  z-index: 1;
}
.background-text span {
  background-color: #fff;
  padding: .5rem 4rem;
  color: #484848;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8rem;
  z-index: 1;
}

/* MAIN */ 

main h2, .plans h2 {
  color: #484848;
  font-size: 1.8rem;
  margin-top: 2rem;
}
main > p, .plans > p {
  font-size: .8rem;
  color: #484848;
  font-weight: 600;
  margin-bottom: 2rem;
}
.nature-daily {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nature {
  flex-grow: 1;
  background-image: url('../images/placeimg_600_300_nature_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  height: 300px;
  position: relative;
  z-index: -1;
}
.nature::after, .daily::after, .together::after, .analysis::after, .pictures::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .4);
  z-index: -1;
}
.nature-text h3, .daily-text h3, .analysis h3, .pictures h3{
  font-size: 2rem;
  margin: 1rem;
  color: #fff;
}
.nature-text p, .daily-text p, .analysis p, .pictures p {
  color: #fff;
  margin: 1rem;
}
.daily {
  background-image: url('../images/placeimg_600_300_nature.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 3;
  height: 300px;
  margin-left: 2rem;
  position: relative;
  z-index: -1;
}
.together {
  background-image: url('../images/placeimg_600_300_nature_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  z-index: -1;
  margin-top: 2rem;
}
.together-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 1rem;
}
.together-text h3 {
  color: #fff;
  font-size: 2rem;
}
.together-text p {
  color: #fff;
}
.analysis-pictures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.analysis {
  background-image: url('../images/placeimg_600_300_arch.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 3;
  height: 300px;
  position: relative;
  z-index: -1;
}
.pictures {
  background-image: url('../images/placeimg_600_300_arch_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  height: 300px;
  position: relative;
  z-index: -1;
  margin-left: 2rem;
}
/* GROWTH PLANS */ 
.plans {
  margin-top: 10rem;
  position: relative;
}
.plans h2 {
  position: absolute;
  top: -15%;
}

.plans > p {
  position: absolute;
  top: 3%;
}

.graphic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.grapich-head {
  background: #0000CD;
  
}
.grapich-head h4 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 1rem;
}
.grapich-head p {
  color: #fff;
  margin: 0 1rem;
}
.grapich-content {
  font-size: .7rem;
  color: #fff;
  display: flex;
  align-items: flex-end;
  background: #1E90FF;
  height: 50%;
  padding-bottom: .5rem;
}
.grapich-colum1 {
  height: 150px;
  width: 370px;
  margin: 0 1rem;
}
.grapich-colum2 {
  height: 200px;
  width: 370px;
  margin: 0 1rem;
}
.grapich-colum3 {
  height: 250px;
  width: 370px;
  margin: 0 1rem;
}
.grapich-colum4 {
  height: 300px;
  width: 370px;
  margin: 0 1rem;
}
.grapich-colum5 {
  height: 350px;
  width: 370px;
  margin: 0 1rem;
}
.grapich-colum6 {
  height: 400px;
  width: 370px;
  margin: 0 1rem;
}